body{
    margin: 0;
    background-image:url(images/3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: rgba(255, 255, 255, 0.349);
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    
    display: inline-block;
    margin-top: 20%;
    margin-left: 36%;
    width: 400px;
    padding: 1%;
}

.card h4{
    margin: 5px 0px;
    text-align: center;
    color: #88cfc5;
    font-size: 50px;
}

.card h3{
    color: #fedc6a;
    margin: 0px;
    font-size: 35px;
    text-align: center;
}

.card p{
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}